/*
Copyright 2024 New Vector Ltd.
Copyright 2022 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_CallView {
    flex-grow: 1;
    min-height: 0;

    display: flex;
    flex-direction: column;

    background-color: $header-panel-bg-color;

    .mx_AppTile {
        width: auto;
        height: 100%;
        border: none;
        border-radius: inherit;
        background-color: $call-background;
    }
}

.mx_CallView_settingsMenu {
    position: absolute;
    z-index: 200;
    top: 12px;
    right: 12px;
}

.mx_CallView_settingsMenuButton {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: $call-view-button-on-foreground;
    background-color: $call-view-button-on-background;
    box-shadow: 0 4px 4px #00000026;

    svg {
        width: 24px;
        height: 24px;
    }
}

.mx_CallView_settingsMenuItem {
    box-sizing: border-box;
    min-width: 184px;
    min-height: 40px;
    padding: 10px 16px;
    line-height: 20px;
}
